/* body{
    background-color: rgb(18, 20, 23);

} */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 /* ******** Main page, 1st pg************/
 .container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 20, 23);
 }
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 45, 55);
    width: 300px;
    height: 340px;
    border-radius: 30px;
    padding: 40px;
}
.all .star{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 54, 57);
    width: 40px;
    height: 50px;
    border-radius: 50%;
}
.all .star .bi {
    color: rgb(251, 188, 19);
}
.all .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.all .numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.all .numbers .noBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(50, 54, 57);
    width: 40px;
    height: 50px;
    border-radius: 50%;
}
.all .numbers .noBtn:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(251, 188, 19);
    width: 40px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.all .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(251, 188, 19);
    width: 280px;
    height: 40px;
    border-radius: 30px;
    margin-top: 30px;
    transition: 400ms all ease-in;
}
.all .btn:hover{
    background-color: white;
    color: rgb(251, 188, 19);
    transition: 400ms all ease-out;
    cursor: pointer;
}


/* **********Feedback, thank you msg 2nd pg********** */
.aall{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 45, 55);
    width: 300px;
    height: 340px;
    border-radius: 30px;
    padding: 40px;
    

}
.aall .happyIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aall .happyIcon img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-bottom: 10px;
}
.aall .feedBack{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(251, 188, 19);
    background-color: rgb(50, 54, 57);
    width: 280px;
    height: 40px;
    border-radius: 30px;
}
.aall .words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}